<p>ID token: <%= user.idToken %></p>
<p>access token: <%= user.accessToken %></p>
<p>parsed ID token: <pre><%= JSON.stringify(user.parsedIdToken, null, 2) %></pre></p>
<p>parsed access token: <pre><%= JSON.stringify(user.parsedAccessToken, null, 2) %></pre></p>
